#next-letter-button{
    margin-left: 10px;
    height: 40px;
    width: 90px;
}

#clear-button{
    margin-left: 15px;
    height: 40px;
    width: 60px;
}

#finish-button{
    margin-left: 15px;
    height: 40px;
    width: 60px;
}

#canvas-button-div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }