#stroke-size-text{
    margin-right: 2px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: "PT Sans";
}

#stroke-size-slider{
    margin-top: 10px;
    margin-left: -30px;
}

.stroke-slider-div{
    display: flex;
    align-items: center;
    height: 40px;
}